*{
    padding: 0;
    margin:0;
}

header{
    height: 200px;
    background-color: rgb(100, 100, 100);
}

main{
    height: 300px;
    background-color: blueviolet;
}

aside section{
    height:50px ;
    background-color: coral ;
}

 aside{
    height: 300px;
    background-color: green;
 }

 main section{
    height: 140px;
    background-color: red;
    float: right;
 }

 main section:first-of-type{
    margin-bottom: 20px;
 }

#tl-m{
    height: auto;
    width: 101%;
    background-color: grey;
}

#sp{
}

 footer{
    height: auto;
    background-color: rgb(100, 100, 100);
 }

